html,
body,
.App,
:root,
#root {
	//height: 100%;
	margin: 0;
	padding: 0;
}
$bg: #74a0ff;
$blue: #5289ff;
$red: #ff4e6b;
$yellow: #ffde68;
body {
	background-color: white;
	font-family: "Golos Text", sans-serif;
	button {
		font-family: inherit;
	}
}
.board {
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(7, 1fr);
	gap: 15px;
	max-width: 90vmin;
	margin: 1rem auto;
	padding: 1rem;
	background: $blue;
	border-radius: 5%;
}
.cell {
	aspect-ratio: 1 / 1;
	background: $bg;
	border-radius: 50%;
	div {
		transform: translateY(-150vh);
		transition: ease transform 0.4s;
		width: 100%;
		height: 100%;
		border-radius: inherit;
	}
	&.player1,
	&.player2 {
		div {
			transform: translateY(0);
		}
	}
	&.player1 {
		div {
			background-color: $red;
		}
	}
	&.player2 {
		div {
			background-color: $yellow;
		}
	}
}
.game-info {
	width: 100%;
	padding: 0;
	text-align: center;
	h1 {
		padding: 0;
		margin: 0;
	}
	button {
		padding: 3px 5px;
		margin: 0;
		border: none;
		background-color: #eeeeee;
		transition: ease background-color 0.2s;
		border-radius: 5px;
		cursor: pointer;
		&:hover {
			background-color: #dedede;
		}
	}
}
